<ng-container *ngIf="course$ | async as course">
  <div class="title">
    Course <span>{{ course.name }}</span>
  </div>
  <div class="wrapper">
    <div class="content">
      <div class="con">
        <div class="label">Course Name</div>
        <mat-form-field>
          <input matInput type="text" [ngModel]="course.name" />
        </mat-form-field>
      </div>
      <div class="con">
        <div class="label">Course Name</div>
        <mat-form-field>
          <mat-label>Course status</mat-label>
          <mat-select [(value)]="course.status">
            <mat-option [value]="'DRAFT'">Draft</mat-option>
            <mat-option [value]="'PUBLISHED'">Published</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="con">
        <div class="label">Course card images</div>
        <ng-container *ngFor="let img of course.images">
          <div class="img-wrap">
            <img [ngSrc]="img" alt="Course Image" width="300" height="300" />
          </div>
        </ng-container>
      </div>
      <div class="con">
        <div class="label">Instructor</div>
        <mat-form-field class="chip-list">
          <mat-chip-grid #chipGrid aria-label="Enter instructors">
            <ng-container *ngFor="let intructor of course.instructors">
              <mat-chip-row
                (removed)="remove(intructor)"
                [editable]="true"
                (edited)="edit(intructor, $event)"
                [aria-description]="'press enter to edit ' + intructor.name"
              >
                {{ intructor.name }}
                <button
                  matChipRemove
                  [attr.aria-label]="'remove ' + intructor.name"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </ng-container>

            <input
              placeholder="New instructor..."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-grid>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-container>
