.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 24px;
    font-weight: 500;
    margin: 18px 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #fff; // no variables for colors
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
}
