<div class="title">Courses</div>
<div class="wrapper">

  <div class="filters">
    <div class="filter-wrapper">
      <div class="label">Filter by:</div>
      <mat-form-field>
        <mat-label>Course status</mat-label>
        <mat-select [(value)]="selectedData.filter">
          <ng-container *ngIf="filter$ | async as filterArr">
            <mat-option *ngFor="let filter of filterArr" [value]="filter"
                        (click)="applyFilter()">{{filter}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="search-wrapper">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="selectedData.search" (keyup)="applySearch()" type="text" placeholder="Search">
      </mat-form-field>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef> Image</th>
      <td mat-cell *matCellDef="let element">
        <img [ngSrc]="element.imageUrl" alt="image" width="100" height="100" priority="true">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="name"> Name</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/courses', element.id]">
          {{element.name}}
        </a>
        <div class="instructors-wrapper">
          <div class="inst-title">Instructors: </div>
          <span *ngFor="let instructor of element.instructors; let last = last">
            {{instructor.name + (last ? '' : ', ')}}
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let element">
        <div class="status-wrapper">
          {{element.status}}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
